<!DOCTYPE html>
<html lang="en">
<%- include('../partials/_head') %>
<body>
  <div class="p-4 w-50">
    <h1>Password Reset</h1>

    <form id="loginForm" class="form my-3" action="v1/auth/login" method="POST">
      <div class="col-md-12">
        <label class="form-label"><b>Email</b></label>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
          <input name="email" type="text" class="form-control" value="">
        </div>
      </div>

      <button class="btn btn-primary my-2" type="submit">Submit</button>
    </form>
  </div>
</body>
</html>