<!DOCTYPE html>
<html lang="en">
<%- include('../partials/_head') %>

<body>
  <div class="container-fluid p-3">
    <h1>Login</h1>
    <div id="alertContainer"></div>

    <div class="row">
      <div class="col-12 col-lg-6 col-xl-5">
      
        <form id="loginForm" class="form" action="v1/auth/login" method="POST">
          <div>
            <label class="form-label"><b>Email</b></label>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
              <input name="email" type="text" class="form-control" value="">
            </div>
          </div>
        
          <div>
            <label class="form-label"><b>Password</b></label>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-key"></i></span>
              <input name="password" type="password" class="form-control" value="">
            </div>
          </div>
    
          <button class="btn btn-primary my-2" type="submit">Login</button>
        </form>

        <form id="guestLoginForm" class="form" action="v1/auth/guest-login" method="POST">
          <button class="btn btn-secondary" id="guestLogin" type="submit">Guest Login</button>
        </form>
      </div>
    </div>
  </div>

  <script src="/js/alert.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.getElementById('loginForm')
      const guestLoginForm = document.getElementById('guestLoginForm')

      guestLoginForm.addEventListener('submit', async function(e) {
        e.preventDefault()
        try {
          const guestLoginResponse = await api({
            url: this.action,
            method: this.method,
            data: {},
          })

          if (guestLoginResponse.success) {
            window.location.href = '/cms'
          }
        } catch (err) {
          console.log(err)
          showAlert('danger', err.response.data.message)
        }
      })
      
      form.addEventListener('submit', async function(e) {
        e.preventDefault()
        const formData = new FormData(form)

        try {
          const response = await api({
            url: this.action,
            method: this.method,
            data: Object.fromEntries(formData),
          })

          if (response.success) {
            window.location.href = '/cms' 
          }
        } catch (err) {
          console.log(err)
          showAlert('danger', err.response.data.message) 
        }
      })
    })
  </script>

</body>
</html>