<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head') %>
<body>
  <div class="p-4 w-50">
    <h1>Login</h1>
    <div id="alertContainer"></div>
      
    <form id="loginForm" class="form my-3" action="/auth/login" method="POST">
      <div class="col-md-12">
        <label class="form-label"><b>Email</b></label>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
          <input name="email" type="text" class="form-control" value="">
        </div>
      </div>
  
      <div class="col-md-12">
        <label class="form-label"><b>Password</b></label>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-key"></i></span>
          <input name="password" type="password" class="form-control" value="">
        </div>
      </div>
    
      <button class="btn btn-primary my-2" type="submit">Login</button>
      <a href="" class="d-block my-2">Forgot Password</a>
    </form>
  </div>

  <script src="/js/alert.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.getElementById('loginForm')

      form.addEventListener('submit', async function(e) {
        e.preventDefault()
        const form = e.target
        const formData = new FormData(form)

        try {
          const response = await axios({
          url: this.action,
          method: this.method,
          data: Object.fromEntries(formData),
        })

        if (response.data.success) {
          window.location.href = '/cms' 
        }
        } catch (err) {
          showAlert('danger', err.response.data.message) 
        }
      })
    })
  </script>

</body>
</html>