  <div class="tab-pane fade show active" id="actions" role="tabpanel" aria-labelledby="actions" tabindex="0">
    <div class="row">
      <div class="col-12 col-md-4">
        <h4>Netlify deployment</h4>
        <p>Trigger Netlify deployment for Portfolio website</p>
        <button class="btn btn-primary" id="deploy-btn">Deploy</button>
      </div>

      <div class="col-12 col-md-4">
        <h4>Cache</h4>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="cache-projects"  <%= user?.cacheToggles?.projects ? 'checked' : '' %>>
          <label class="form-check-label" for="cache-projects">Projects cache</label>
        </div>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="cache-publications"  <%= user?.cacheToggles?.publications ? 'checked' : '' %>>
          <label class="form-check-label" for="cache-publications">Publications cache</label>
        </div>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="cache-travel-images"  <%= user?.cacheToggles?.travelImages ? 'checked' : '' %>>
          <label class="form-check-label" for="cache-travel-images">Travel Images cache</label>
        </div>

        <div id="cache-feedback" class="mt-3 small text-muted"></div>
      </div>

      <div class="col-12 col-md-4">
        <h4>Backup Database</h4>
        <p>Trigger Database backup from Mongodb Atlas</p>
        <button class="btn btn-primary" id="backup-btn">Backup</button>
      </div>
    </div>
  </div>