<div class="tab-pane fade show active" id="actions" role="tabpanel" aria-labelledby="actions" tabindex="0">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Netlify deployment</h4>
        <p>Trigger Netlify deployment via build hook</p>
        <button class="btn btn-primary" id="deploy-btn">Deploy</button>
      </div>

      <div class="col-md-6">
        <h4>Disable Cache</h4>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Travel Images cache</label>
        </div>
      </div>
    </div>
  </div>


</div>