<ul class="nav nav-tabs my-4" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#actions" type="button" role="tab" aria-controls="#actions" aria-selected="false">Actions</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#account-settings" type="button" role="tab" aria-controls="account-settings" aria-selected="false">Account Settings</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#security-settings" type="button" role="tab" aria-controls="security-settings" aria-selected="false">Security Settings</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-danger" data-bs-toggle="tab" data-bs-target="#danger-zone" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Danger Zone</button>
  </li>
</ul>