<!DOCTYPE html>
<html lang="en">
<%- include('../partials/_head') %>
<body>
  <%- include('../partials/_navigation') %>

  <div class="p-4">
    <div id="alertContainer"></div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/cms">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Project</li>
      </ol>
    </nav>

    <%- include('../partials/_projectsForm', { 
      formAction: '/projects/api/add',
      formId: 'addForm',
      project: null,
    }) %>
  
  </div>

  <script src="/js/alert.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('loadingIndicator').style.display = 'none'

      const form = document.getElementById('addForm');
      const fileInput = document.getElementById('fileInput')
      const projectPreviewContainer = document.getElementById('projectPreviewContainer')
      const projectPreview = document.getElementById('projectPreview')

      projectPreviewContainer.style.display = 'none'
      fileInput.addEventListener('change', function(e) {
        const [file] = fileInput.files
        if (file) {
          projectPreviewContainer.style.display = 'block'
          projectPreview.src = URL.createObjectURL(file)
        }
      })

      form.addEventListener('submit', function(event) {
        event.preventDefault()
        const formData = new FormData(form)
        document.getElementById('loadingIndicator').style.display = 'block'
      
        fetch(this.action, {
          method: this.method,
          body: formData,
        })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            showAlert('danger', data.error)
          } else {
            showAlert('success', 'Project added successfully!')
          }
        }).catch(err => {
          showAlert('danger', 'An unexpected error occurred.')
          console.error(err)
        }).finally(() => {
          document.getElementById('loadingIndicator').style.display = 'none'
        })
      })
    })
  </script>

</body>
</html>
