<form id="<%= formId %>" action="<%= formAction %>" method="POST" class="d-flex flex-column gap-4 w-75" enctype=="multipart/form-data">
  <div class="row">
    <div class="col-md-6">
      <label class="form-label">Name</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="bi bi-lightbulb-fill"></i></span>
        <input name="name" type="text" class="form-control" value="">
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label">Description</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="bi bi-info-circle"></i></span>
        <input name="description" type="text" class="form-control" value="">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label class="form-label">Link</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="bi bi-link-45deg"></i></span>
        <input name="link" type="text" class="form-control" value="">
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label">Preview</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="bi bi-image"></i></span>
        <input name="preview" id="fileInput" type="file" class="form-control">
      </div>
    </div>
  </div>

  <div class="position-relative" id="project-preview" style="display: none; width: 200px; height: 200px;">
    <img 
      id="previewImage" 
      class="img-thumbnail img-fluid rounded object-fit-cover" 
      style="display: block; width: 100%; height: 100%; object-fit: cover;" 
      alt="Image Preview"
    >
    
    <!-- Remove button -->
    <button 
      class="btn btn-danger position-absolute top-0 end-0 rounded-circle p-1 d-flex justify-content-center align-items-center" 
      style="transform: translate(50%, -50%); width: 35px; height: 35px;">
      <i class="fs-5 bi bi-trash3"></i>
    </button>
  </div>

  <div class="d-flex gap-2">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
  </div>
</form>