<div class="p-4">
  <div class="d-flex align-items-center gap-3">
    <h2>
      <a class="text-black" style="text-decoration: none;" data-bs-toggle="collapse" role="button" href="#projectsCollapse" aria-expanded="true" aria-controls="projectsCollapse">
        <i class="bi bi-caret-right-fill"></i>
      </a>
      Projects
    </h2>  
    <a href="projects/add">
      <h5><i class="bi bi-plus-circle-fill"></i></h5>
    </a>
  </div>
  
  <% if (projects.length == 0) { %>
    <div class="alert alert-light w-25" role="alert">
      There are no projects yet!
    </div>
    <% } else { %>
    
    <div class="collapse show" id="projectsCollapse">
      <div class="d-flex gap-4">
        <% projects.forEach(project => { %>
          <%- include('../partials/_project', { project }) %>
          
        <% }) %>
      </div>
    </div>
  
  <% } %>
</div>