<div class="p-4 my-2">
  <div class="d-flex align-items-center gap-3">
    <h2>
      <a class="text-black" style="text-decoration: none;" data-bs-toggle="collapse" role="button" href="#publicationsCollapse" aria-expanded="true" aria-controls="publicationsCollapse">
        <i class="bi bi-caret-right-fill"></i>
      </a>
      Publications
    </h2>

    <a href="publications/add">
      <h5><i class="bi bi-plus-circle-fill"></i></h5>
    </a>
  </div>

  <% if (publications.length == 0) { %>
    <div class="alert alert-light w-25" role="alert">
      There are no projects yet!
    </div>
  <% } else { %>

    <div class="collapse show" id="publicationsCollapse">
      <div class="d-flex gap-4">
        <% publications.forEach(publication => { %>
          <%- include('../partials/_publication', { publication }) %>
          <%- include('../partials/_deleteModal', { data: publication, type: 'publication' }) %>
        <% }) %>
      </div>
    </div>
  <% } %>

</div>

<script>
  const deleteButtons = document.querySelectorAll(".delete-btn");

  deleteButtons.forEach(button => {
    button.addEventListener('click', async function() {
      const publicationId = button.getAttribute("data-id");

      const response = await fetch(`/publications/api/delete/${publicationId}`, { method: 'DELETE' })
      if (response.success) Swal.fire({ text: "Publication Deleted!", icon: "success"});
    })

  })
</script>