<div class="p-4 my-2">
  <div class="d-flex align-items-center gap-3">
    <h2>📚 Publications</h2>

    <a href="publications/add">
      <h5><i class="bi bi-plus-circle-fill"></i></h5>
    </a>
  </div>

  <% if (publications.length == 0) { %>
    <div class="alert alert-light w-25" role="alert">
      There are no projects yet!
    </div>
  <% } else { %>

    <div class="d-flex gap-4">
      <% publications.forEach(publication => { %>
        <div id="publication" class="card d-flex w-25">
          <div class="card-body">
            <b class="card-title"><%= publication.title %></b>
            <p class="card-text text-truncate" style="max-width: 200px"><%= publication.preview %></p>
          
            <div class="d-flex justify-content-between">
              <p class="card-text"><%= publication.publishedDate %></p>
            
              <div class="d-flex gap-4">
                <a href="publications/edit/<%= publication._id %>"><i class="bi bi-pencil"></i></a>
                <i id="deleteBtn" class="pe-auto bi bi-trash3"></i>
              </div>
            </div>

          </div>
        </div>
      <% }) %>
    </div>
  <% } %>

</div>

<script>
  const deleteBtn = document.getElementById('deleteBtn')
  deleteBtn.addEventListener('click', (e) => {
    console.log("🚀 ~ deleteBtn.addEventListener ~ e:", e)
    const decision = confirm("Are you sure you want to delete this item?")
    if (decision) alert('done')
    else alert('not done')
  })
</script>