<div class="p-2 p-lg-4 my-2">
  <div class="d-flex justify-content-between justify-content-md-start align-items-center gap-3">
    <h3>
      <a class="text-black" style="text-decoration: none;" data-bs-toggle="collapse" role="button" href="#publicationsCollapse" aria-expanded="true" aria-controls="publicationsCollapse">
        <i class="bi bi-caret-down-fill" id="publicationCollapseIcon"></i>
      </a>
      Publications (<%- publications.length %>)
      <% if (user.cacheToggles.publications) { %> <span class="badge bg-warning text-dark fs-6 py-1 px-2">Cache Active</span> <% } %>
    </h3>

    <% if (user.role === 'admin') { %>
      <a href="publication/add">
        <h5><i class="bi bi-plus-circle-fill"></i></h5>
      </a>
    <% } %>
  </div>

  <% if (publications.length == 0) { %>
    <div class="alert alert-light w-25" role="alert">
      There are no publications yet!
    </div>
  <% } else { %>

    <div class="collapse show" id="publicationsCollapse">
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
          <% publications.forEach(publication => { %>
            <div class="mb-3">
              <%- include('./publication', { publication, userRole: user.role }) %>
              <%- include('../partials/_deleteModal', { 
                data: {
                  id: publication._id, 
                  deleteId: "publicationDeleteBtn",
                  ...publication
                  }, 
                  type: 'publication' }) %>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  <% } %>
</div>
<script src="/js/alert.js"></script>

<script>
  const deletePublicationBtn = document.querySelectorAll("#publicationDeleteBtn")
  const publicatoinCollapseEl = document.getElementById('publicationsCollapse')
  const publicationCollapseIcon = document.getElementById('publicationCollapseIcon')

  publicatoinCollapseEl.addEventListener('hide.bs.collapse', () => {
    publicationCollapseIcon.classList.remove('bi-caret-down-fill')
    publicationCollapseIcon.classList.add('bi-caret-right-fill')
  })

  publicatoinCollapseEl.addEventListener('show.bs.collapse', () => {
    publicationCollapseIcon.classList.remove('bi-caret-right-fill')
    publicationCollapseIcon.classList.add('bi-caret-down-fill')
  })

  deletePublicationBtn.forEach(button => {
    button.addEventListener('click', async function() {
      const publicationId = button.getAttribute("data-id")
        
      try {
        const response = await api({
          url: `/v1/publications/delete/${publicationId}`,
          method: 'DELETE',
        })

        showAlert('success', response.message)
        setTimeout(() => location.reload(), 1500)
      } catch (err) {
        showAlert('danger', "there was an error")
      } finally {
        
      }
    })

  })
</script>