<div class="p-4 my-2">
  <div class="d-flex justify-content-between justify-content-md-start align-items-center gap-3">
    <h2>
      <a class="text-black" style="text-decoration: none;" data-bs-toggle="collapse" role="button" href="#publicationsCollapse" aria-expanded="true" aria-controls="publicationsCollapse">
        <i class="bi bi-caret-down-fill" id="publicationCollapseIcon"></i>
      </a>
      Publications
    </h2>

    <% if (userRole === 'admin') { %>
      <a href="publication/add">
        <h5><i class="bi bi-plus-circle-fill"></i></h5>
      </a>
    <% } %>
  </div>

  <% if (publications.length == 0) { %>
    <div class="alert alert-light w-25" role="alert">
      There are no projects yet!
    </div>
  <% } else { %>

    <div class="collapse show" id="publicationsCollapse">
      <div class="container-fluid">
        <div class="row">
          <% publications.forEach(publication => { %>
            <div class="col-md-3 mb-3">
              <%- include('./publication', { publication, userRole: userRole }) %>
              <%- include('../partials/_deleteModal', { data: publication, type: 'publication' }) %>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  <% } %>

</div>

<script>
  const deletePublicationDeleteBtn = document.querySelectorAll(".delete-btn");
  const publicatoinCollapseEl = document.getElementById('publicationsCollapse');
  const publicationCollapseIcon = document.getElementById('publicationCollapseIcon');

  publicatoinCollapseEl.addEventListener('hide.bs.collapse', () => {
    publicationCollapseIcon.classList.remove('bi-caret-down-fill');
    publicationCollapseIcon.classList.add('bi-caret-right-fill');
  });

  publicatoinCollapseEl.addEventListener('show.bs.collapse', () => {
    publicationCollapseIcon.classList.remove('bi-caret-right-fill');
    publicationCollapseIcon.classList.add('bi-caret-down-fill');
  });

  deletePublicationDeleteBtn.forEach(button => {
    button.addEventListener('click', async function() {
      const publicationId = button.getAttribute("data-id");

      const response = await fetch(`/publications/api/delete/${publicationId}`, { method: 'DELETE' })
      if (response.success) Swal.fire({ text: "Publication Deleted!", icon: "success"});
    })

  })
</script>