<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/_head') %>
</head>

<body>
  <%- include('./partials/_travelImages', { travelImages: travelImages }) %>
  <%- include('./partials/_projects', { projects: projects }) %>
  <%- include('./partials/_publications', { publications: publications }) %>
</body>
</html>