<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/_head') %>
</head>

<body>
  <nav class="nav p-4 ">
    <a class="nav-link active" aria-current="page" href="https://puzant.netlify.app/" target="_blank">Portfolio</a>
    <a class="nav-link" href="#">Settings</a>
    <a class="nav-link" href="#">Traffic</a>
  </nav>
  
  <%- include('./partials/_projects', { projects: projects }) %>
  <%- include('./partials/_publications', { publications: publications }) %>
  <%- include('./partials/_travelImages', { travelImages: travelImages }) %>
</body>
</html>