<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/_head') %>
</head>

<body>
  <%- include('./partials/travelImages', { travelImages: travelImages }) %>
  <%- include('./partials/projects', { projects: projects }) %>
  <%- include('./partials/publications', { publications: publications }) %>
</body>
</html>