<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/_head') %>
</head>
<body>
  <%- include('../partials/_navigation') %>

  <div class="alert alert-danger" role="alert">
    You're not allowed to access this page!
  </div>
</body>
</html>