<div class="p-4 my-2">
  <div class="d-flex align-items-center gap-3">
    <h2>
      <a class="text-black" style="text-decoration: none;" data-bs-toggle="collapse" role="button" href="#projectsCollapse" aria-expanded="true" aria-controls="projectsCollapse">
        <i class="bi bi-caret-down-fill" id="projectCollapseIcon"></i>
      </a>
      Projects
    </h2>  
    <a href="projects/add">
      <h5><i class="bi bi-plus-circle-fill"></i></h5>
    </a>
  </div>
  
  <% if (projects.length == 0) { %>
    <div class="alert alert-light w-25" role="alert">
      There are no projects yet!
    </div>
    <% } else { %>
   
    <div class="collapse show" id="projectsCollapse">
      <div class="container-fluid">
        <div class="row" id="items-container">
          <% projects.forEach(project => { %>
            <div class="col-md-3 mb-3 drag-handle cursor-grab" data-id="<%= project._id %>">
              <%- include('./_project', { project }) %>
              <%- include('../partials/_deleteModal', { data: project, type: 'project' }) %>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  
  <% } %>
</div>

<script src="/js/alert.js"></script>
<script>
  const itemsContainer = document.getElementById('items-container')

  const sortable = new Sortable(itemsContainer, {
    animation: 150,
    ghostClass: 'sortable-ghost', 
    onEnd: async (evt) => {
      const order = Array.from(evt.from.children).map(child => child.dataset.id)
      
      try {
        const response = await axios({
          url: '/v1/projects/reorder-project',
          method: 'POST',
          data: order,
        })
     
        if (response.data.success) {
          console.log('inside')
          showAlert('success', response.data.message)
        }
      } catch (err) {
        showAlert('danger', err.response.data.message)
      }
    }
  })

  const deleteButtons = document.querySelectorAll(".delete-btn");
  const projectCollapseEl = document.getElementById('projectsCollapse');
  const projectCollapseIcon = document.getElementById('projectCollapseIcon');

  projectCollapseEl.addEventListener('hide.bs.collapse', () => {
    projectCollapseIcon.classList.remove('bi-caret-down-fill');
    projectCollapseIcon.classList.add('bi-caret-right-fill');
  });

  projectCollapseEl.addEventListener('show.bs.collapse', () => {
    projectCollapseIcon.classList.remove('bi-caret-right-fill');
    projectCollapseIcon.classList.add('bi-caret-down-fill');
  });

  deleteButtons.forEach(button => {
    button.addEventListener('click', async function() {
      const projectId = button.getAttribute("data-id");

      const response = await fetch(`/projects/api/delete/${projectId}`, { method: 'DELETE' })
      if (response.success) Swal.fire({ text: "Project Deleted!", icon: "success"});
    })

  })
</script>